.carousel-indicators [data-bs-target] {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  
}
.move{
  rotate: 270;
}
nav {
  max-height: var(--nav-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.logo {
  height: var(--nav-height);
}

nav ul {
  display: flex;
  gap: 1em;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav-button,
.btn-donate {
  background-color: var(--blue);
  color: #fff;
  font-weight: 600;
  padding: 0.5em 0.7em;
  border-radius: var(--corner-radius);
  cursor: pointer;
  letter-spacing: 0.05em;
}

