*{
    margin: 0;
    padding: 0;
    font-family: roboto ;
}

.about{
    background-color:#f5f7fa;
}

#we , #origin , #vision{
    display: flex;
    color: black;
    font-size:large;
    font-weight: 450;
    text-align: left;
}

img{
    height: auto;
    width:50%;
    max-width: 100%;
}

span{
    color: black;
    font-size:x-large;
    font-weight: 700;   
}

.text{
    padding:2%;
    margin:10px;
    font-family: roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#origin{
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-top: 3px;
}

.about img{
    padding: 0px 20px 0px 0px;
    border-radius: 0px 25px 25px 0px ;
}

#origin img{
    padding: 0px 0px 0px 10px;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 10px 5px 5px #737373;
}

#we button , #vision button ,#origin button{
    background-color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 600;
    color: #737373;
    display: block;
    border: 2.5px solid #737373;
    border-radius: 6px;
    text-align: center;
    margin: 19% 4% 1% 0;
    padding:5px;
    float: right;
}

#we button:hover , #vision button:hover ,#origin button:hover{
    background-color:white;
    color: #00a7f6;
    border-color: #00a7f6;
    cursor: pointer;
    transition-duration: .2s;
}

@media only screen and (min-width:768px) {
    .text{
        padding:2%;
        margin:18px; 
    }

    img{
        width: 35%;
    }

    #we , #origin , #vision{
        font-size: x-larger;
        font-weight: 550;
    }

    span{
        font-size:xx-large;
        font-weight: 800;   
    }
}