/* Google fonts Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --blue: rgb(0, 153, 255);
    --nav-height: 80px;
    --corner-radius: 5px;
}

/* Navbar */

nav {
    max-height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.logo {
    height: var(--nav-height);
}

nav ul {
    display: flex;
    gap: 1em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.nav-button,
.btn-donate {
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
    padding: 0.5em 0.7em;
    border-radius: var(--corner-radius);
    cursor: pointer;
    letter-spacing: 0.05em;
}

/* Hero */

.hero {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
    position: relative;

    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: 104% 104%;
    background-position: center;
}

.content {
    position: relative;
}

.overlay {
    background: rgba(122, 121, 121, 0.44);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.btn-box {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}
.btn-volunteer {
    background-color: transparent;
    /* color: #FFF; */
    letter-spacing: 0.05em;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    border-radius: var(--corner-radius);
    padding: 0.4em 0.85em;
    cursor: pointer;
}

.content h1,
.content h2 {
    color: #fff;
}

.logo-head {
    letter-spacing: 0.05em;
    font-size: 3rem;
    margin-bottom: 0.01em;
}

.content h2 {
    letter-spacing: 0.03em;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

/* Circles */

.circles {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.circle {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #fffa;
    cursor: pointer;
}

.circle.current {
    background-color: var(--blue);
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down {
    width: 15px;
    margin-left: 2px;
}

/* About Section */

.about-child {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

.about-child {
    display: flex;
    align-items: center;
    gap: 3.2em;
    padding-block: 2em;
}

.about-2 {
    flex-direction: row-reverse;
}

.about-2 button {
    color: #000 !important;
    border-color: #000 !important;
}

.about-img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.about-content h1 {
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 0.7em;
}

.about-content button {
    margin-block: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    padding: 0.5em 0.7em;
    cursor: pointer;

    background: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
}

.about-dark-wrapper {
    background-color: #f6f7fb;
}

/* Submenu Navbar List */
.submenu-link {
    position: relative;
}

.submenu-link .submenu {
    position: absolute;
    width: 80px;
    background-color: #fff;
    z-index: 10;
    padding: 0 10px;
    border-radius: 0 0 6px 6px;
    height: 0;
    margin-top: 17px;
    transition: all 0.5s ease;
}

.submenu-link.show .submenu {
    height: 102px;
}
.submenu-link .submenu-list {
    opacity: 0;
}
.submenu-link.show .submenu-list {
    opacity: 1;
    transition-delay: 0.15s;
}

.submenu-link .arrow-down {
    transition: all 0.5s ease;
}
.submenu-link.show .arrow-down {
    transform: rotate(-180deg);
}

.submenu-link .submenu .submenu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submenu-link .submenu .submenu-list a {
    font-size: 14px;
}

/* Our Projects */

.our-projects-section {
    padding: 30px 0;
}

.our-projects__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.our-projects__heading {
    text-align: center;
    font-size: 4.0625rem;
    font-weight: 600;
    font-family: "Montserrat";
}

.our-projects__card {
    width: 300px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        inset 0px 4px 4px rgba(177, 199, 225, 0.25);
    border-radius: 52px;
    min-height: 457px;
}

.our-projects__card .card-image-container {
    width: 100%;
}
.our-projects__card .card-image-container img {
    width: 100%;
    object-fit: cover;
    height: 203px;
    border-radius: 52px 52px 0 0;
}
.our-projects__card .card-content {
    padding: 12px 30px 40px;
}
.our-projects__card .card-content h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.our-projects__card .card-content p {
    font-size: 1.1rem;
    margin-right: 20px;
}
.our-projects__card .card__arrow-right {
    border: 2px solid #00a7f6;
    border-radius: 50%;
    padding: 5.07px 3.72px 4.37px 5.43px;
    position: absolute;
    right: 14%;
    bottom: 5%;
    width: 28px;
    cursor: pointer;
}

.our-projects__buttons-rail{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.our-projects-section .our-projects__button{
    background: #00A7F6;
    border-radius: 8px;
    width: 20px;
    height: 14px;
    border: none;
    cursor: pointer;
    opacity: 1 !important;
}
.our-projects-section .our-projects__button--active{
    background: #484D54;
}

/* Our projects Swiper */
.swiper {
    width: 900px;
    height: 600px;
}

.swiper-button-next,
.swiper-button-prev{
    visibility: hidden;
}
.swiper-pagination{
    margin-top: 50px;
}