.heading{
  text-align: center;
  margin-top: 2%;
}

body {
  margin: 0;
  font-family: 'Raleway Regular', sans-serif;
  overflow: hidden;
}

.donate{
  -webkit-border-radius: 3;
 -moz-border-radius: 3;
 border-radius: 3px;
 font-family: Arial;
 color: #000000;
 font-size: 15px;
 background: #ffffff;
 padding: 2px 20px 2px 20px;
 border: solid #000000 2px;
 text-decoration: none;
  display:inline-block;
  line-height: 20px;
  margin-top: 5px;
}

.donate:hover{
  background: #e2e7eb;
  text-decoration: none;
}

.volunteer_{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  background: #ffffff;
  padding: 7px 18px 7px 18px;
  border: solid #000000 2px;
  text-decoration: none;
  display:inline-block;
  line-height: 10px;
  margin-top: 5px;
}

.volunteer_:hover{
  background: #e2e7eb;
  text-decoration: none;
}

.content_lower{
  position: relative;
  line-height: 4px;
  top: 110px;
  width: 1280px;
  height: 200px;
}

.number{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom:20px;
}

.served{
  position: absolute;
  display: inline-block;
  left: 10%;
}

.sponsor{
  position: absolute;
  display: inline-block;
  right:43%;
}

.volunteer{
  position: absolute;
  display: inline-block;
  right: 10%;
}

.content_2{
  margin-top: 12px;
}

.content_3{
  margin-top: 12px;
}


.story1{
  position: absolute;
  margin-top: 2%;
  background-color: #F7F7F7;
  display: inline-block;
  width: 38%;
  left:384px;
}


.image{
  position: relative;
  float: left;
  border-radius: 10px 0 0 10px;
}

.story1_{
  margin-top: 3%;
  display: inline-block;
  margin-left: 20px;
}

.story1_cont{
  line-height: 2px;
  margin-top: 1px;
  margin-left: 20px;
  margin-left: 200px;
}

.stories{
  position:relative;
  margin-top: 3%;
  width: 1280px;
  height: 200px;
}

.story2{
  position: absolute;
  margin-top: 2%;
  margin-left:-12%;
  background-color: #F7F7F7;
  display: inline-block;
  width: 38%;
}

.story2_cont{
  line-height: 2px;
  margin-top: 1px;
  margin-left: 200px;
}
.story2_{
  margin-top: 3%;
  display: inline-block;
  margin-left: 20px;
}

.story3{
  position: absolute;
  margin-top: 2%;
  margin-left: 0px;
  background-color: #F7F7F7;
  display: inline-block;
  width: 38%;
  left: 922px;
}

.story3_cont{
  position: relative;
  line-height: 2px;
  margin-top: 1px;
  margin-left: 200px;
}

.story3_{
  margin-top: 3%;
  display: inline-block;
  margin-left: 20px;
}

.arrow{
  position: relative;
  left:270px;
}

.image3{
  position: relative;
  float: left;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
