*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";

}

:root {
    --blue: rgb(0, 153, 255);
    --nav-height: 80px;
    --corner-radius: 5px;
    
}

/* Navbar */
.move{
    rotate: 270;
}
nav {
    max-height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.logo {
    height: var(--nav-height);
}

nav ul {
    display: flex;
    gap: 1em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.nav-button,
.btn-donate {
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
    padding: 0.5em 0.7em;
    border-radius: var(--corner-radius);
    cursor: pointer;
    letter-spacing: 0.05em;
}

/* Hero */
* {
    margin : 0;
    padding: 0;
}



.slider-box {
    width     : 100%;
    max-height: 100%;
    position  : relative;
    overflow  : hidden;
    margin    : 0px auto;
}

#slider {
    width     : 102%;
    display   : inline-flex;
    transition: 0.7s;
}

#slider img {
   
    height: 45rem;
    margin-top: -1rem;
    margin-left: -2rem;
    margin-right: 0rem;
    min-width: -webkit-fill-available;
}

.indicators {
    position : absolute;
    left     : 50%;
    bottom   : 20px;
    transform: translateX(-50%);
}

.indicators span {
    display      : inline-block;
    width        : 15px;
    height       : 15px;
    border-radius: 50%;
    background   : rgba(255, 255, 255, 0.5);
    cursor       : pointer;
}

.active {
    background: rgb(0 153 255) !important;
}
.hero {
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  
}
.content {
    position: relative;
    top: 24rem;
    left: 10rem;
    width: 90%;
}
.img{
    width: 90rem;
    height: 50rem;
}
.overlay {
    background: rgba(122, 121, 121, 0.44);
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 44.2rem;
}

.btn-box {
    margin-top: 1em;
    display: flex;
    gap: 1em;
}
.btn-volunteer {
    background-color: transparent;
    /* color: #FFF; */
    letter-spacing: 0.05em;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    border-radius: var(--corner-radius);
    padding: 0.4em 0.85em;
    cursor: pointer;
}

.content h1,
.content h2 {
    color: #fff;
}

.logo-head {
    letter-spacing: 0.05em;
    font-size: 3rem;
    margin-bottom: 0.01em;
}

.content h2 {
    letter-spacing: 0.03em;
    font-size: 2rem;
    margin-bottom: 0.5em;
}


.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-down {
    width: 15px;
    margin-left: 2px;
}

/* About Section */



/* Submenu Navbar List */
.submenu-link{
    position: relative;
}

.submenu-link .submenu{
    position: absolute;
    width: 80px;
    background-color: #fff;
    z-index: 10;
    padding: 0 10px;
    border-radius:  0 0 6px 6px;
    height: 0;
    margin-top: 17px;
    transition: all 0.5s ease;
}

.submenu-link.show .submenu{
    height: 102px;
}
.submenu-link .submenu-list{
    opacity: 0;
}
.submenu-link.show .submenu-list{
    opacity: 1;
    transition-delay: 0.15s;
}

.submenu-link .arrow-down{
    transition: all 0.5s ease;
}
.submenu-link.show .arrow-down{
    transform: rotate(-180deg);
}

.submenu-link .submenu .submenu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submenu-link .submenu .submenu-list a{
    font-size: 14px;
}
